body {
  padding-top: 50px;
}
.readme {
  padding: 15px 15px;
}

.carousel, .hero-image{
  margin-top: 20px;
}

.sidebar.affix {
  position: fixed;
  top: 80px;
}

.sidebar .nav > .active > a {
  color: #222;
}